.main-tables-container--slider {
    width: 810px;
    overflow: hidden;
}
.bitcoin-image-container {
    background-image: url("../assets/img/bitcoinbaby2x.png");
}
.features-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
    width: 800px;
}
.features-cards-container .card {
    margin: 0;
}
.plans-container--slider {
    justify-content: center;
    overflow-x: hidden;
}
